* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  min-width: 360px;
  min-height: 100vh;
  background-color: var(--bs-warning-bg-subtle);
}

p {
  margin: 8px 0;
}

.Loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(light-dark(#000, #ececec) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@media (prefers-color-theme: dark) {
  .LoaderWrapper {
    opacity: 0.85;
  }
}

@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
